
h2{
  position: absolute;
  top: 3em;
  left: 0%;
  color: white;
  font: bold  Helvetica, Sans-Serif;
  letter-spacing: 0.1em;
  padding: 0.8em;
}

h2 span {
   color: white;
   font: bold 1em Helvetica, Sans-Serif;
   letter-spacing: 0.1em;
   line-height: 2em;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 0.5em;
}

figure{
  padding-top: 1%;
  padding-bottom: 1%;
}

img{
  position: relative;
  overflow: hidden;
  filter: grayscale(100%);
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 3s;
}

img:hover{
  filter: grayscale(0%);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 2);
  transform: scale3d(1, 1, 2);
}
